/* Contenedor principal */
.container {
  padding: 0 15px;
}

/* Tarjeta */
.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

/* Imagen de la tarjeta */
.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Cuerpo de la tarjeta */
.card-body {
  padding: 15px;
  text-align: center;
}

/* Título de la tarjeta */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Efecto al pasar el cursor */
.card:hover {
  transform: translateY(-25px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  background-color: rgb(95, 238, 150);
}

/* Estilo de enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Estilo de enlaces al pasar el cursor */
a:hover {
  text-decoration: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  /* Ajuste para pantallas de tabletas */
  .card-title {
      font-size: 1.25rem; /* Tamaño de fuente más pequeño en pantallas medianas */
  }

  .card-img-top {
      height: 120px; /* Reduce la altura de la imagen para pantallas medianas */
  }
}

@media (max-width: 576px) {
  /* Ajuste para pantallas de móviles */
  .card-title {
      font-size: 1rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
  }

  .card-img-top {
      height: 100px; /* Reduce aún más la altura de la imagen para pantallas pequeñas */
  }

  .card-body {
      padding: 10px; /* Reduce el padding en el cuerpo de la tarjeta */
  }

  .card {
      margin-bottom: 15px; /* Añade un margen inferior para separar las tarjetas en pantallas pequeñas */
  }
}
