.container {
    margin-top: 2rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: monospace;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
    border: 5px solid #13f164;
  }
  
  p {
    font-size: 0.8rem;
    line-height: 1;
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .comments-container {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #807f7f;
    border: 3px solid #13f164;
    border-radius: 0.5rem;
  }
  
  .comment {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .comment:last-child {
    border-bottom: none;
  }
  
  .comment p {
    margin-bottom: 0.2rem;
  }
  
  .comment strong {
    font-weight: bold;
  }
  